.loader {
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid blueviolet;
  border-radius: 50%;
  animation: spinner 2s infinite linear;
  display: block;
  margin: 30px auto 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
