.find-btn {
  display: block;
  margin: 300px auto;
  width: 300px;
  height: 200px;
  font-size: 35px;
  text-transform: uppercase;
}

.location-box {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  border: 2px solid burlywood;
  position: absolute;
  top: 70%;
  left: 30%;
  width: 700px;
}
