body {
  background-color: rgba(174, 204, 204, 0.945);
}

.root-card {
  margin: 0 auto;
  border: 2px solid black;
  background-color: antiquewhite;
  max-width: 600px;
  margin-bottom: 20px;
  position: relative;
}

.owner-name {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.owner-email {
  display: block;
  padding-left: 5px;
  margin-bottom: 20px;
}

.post-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}

.post-body {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0 solid beige;
  border-radius: 10px;
  background-color: rgb(214, 71, 71);
  color: azure;
}

.loader {
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid #f3f3f3;
  border-top: 15px solid blueviolet;
  border-radius: 50%;
  animation: spinner 2s infinite linear;
  display: block;
  margin: 30px auto 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
