.cart-list {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  flex-wrap: wrap;
  gap: 50px;
}

.btn_delete_from_cart {
  position: absolute;
  top: -20px;
  right: -15px;

  &:hover {
    border-radius: 50%;
    border: 1px solid transparent;
  }
}

.delete_from_cart_img {
  width: 100%;
}
