.header {
  background-color: rgba(83, 97, 112, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 10px 0px 10px;

  .header_navigaton {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    .link {
      text-decoration: none;
      color: rgb(56, 55, 53);
      display: block;
    }
  }

  .logo-link {
    display: block;
    height: 50px;
    width: 140px;

    &_img {
      width: 100%;
      height: 100%;
    }
  }
}
